<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <bean id="myFortune" class="com.er.springdemo.HappyFortuneService">
    </bean>
    <bean id="myCoach" class="com.er.springdemo.BaseballCoach">
        <!--
        Setup constructor injection
        -->
        <constructor-arg ref="myFortune"/>
    </bean>

    <!--
    Add the Logger config to see logging messages at Run panel
    -->
    <bean id ="myLoggerConfig" class="com.er.springdemo.MyLoggerConfig" init-method="initLogger">
        <property name="rootLoggerLevel" value="FINE"/>
        <property name="printedLogger" value="FINE"/>
    </bean>

    <bean id="myCrickedCoach"
          class="com.er.springdemo.CricketCoat">
        <!-- set up setter injection
          -->
        <property name="fortuneService" ref="myFortune"/>
        <property name="emailAddress" value="everton.rodrigues@hawkeyeinnovations.com"/>
        <property name="team" value="DevelopTeam"/>
    </bean>
</beans>